@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

:root {
  --tabColor: #eee3bb;
  --maxWidth: 1280px;
  --white: #fff;
  --black: rgba(0, 0, 0, 1);
  /* --black: rgb(230, 18, 18); */
  --lightGrey: #dbdbdb;
  --lighterGrey: #eee;
  --medGrey: #727272;
  --darkGrey: #1c1c1c;
  --fontColorBlue: #076696;
  --fontSuperBig: 2rem;
  --fontBig: 1.5rem;
  --fontMed: 1.2rem;
  --fontSmall: 1rem;
  --orangeRed: #fc4b16;
  --red: red;
  /* -- */
}

* {
  box-sizing: border-box;
  /* font-family: 'Montserrat', sans-serif;   */
  margin: 0;
}

body {
  align-items: center;
  /* background-color: aqua; */
  display: flex;
  height: 100vh;
  justify-content: space-between;
}

.container {
  border: solid;
  margin: 0;
  padding: 0;
  padding-bottom: 5px;
  padding-top: 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.wrapper {
  border: solid;
  margin: 5px 5px 5px 5px;
  width: 100%;
}

div.row{
  display: flex;
  justify-content: center;
}

ul {
  background-color: var(--tabColor);
  border-radius: 0.5rem 0.5rem 0px 0px !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table thead th {
  border-bottom: 1px dashed var(--black);
}

.nav-link {
  color: var(--medGrey) !important;
}

.nav-link.active {
  color: var(--black) !important;
}

.nav-tabs .nav-link {
  background: inherit;
  border: none;
  border-radius: 0 !important;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  background-color: inherit !important;
  border: none;
}

.table-content {
  flex-grow: 4;
  margin: auto;
  text-align: center;
}

.table-content ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.table-content ul .guestCounter {
  margin: 0;
}

.table-content ul li {
  /* background-color: #ff1010; */
}

.table-content ul .input-multibet-counter {
  margin: 0;
  width: 100px;
}

.tab-pane .table-content table tbody{
    /* min-height: 00px !important; */
}
.table-content ul .input-multibet-counter:focus {
  outline: none !important;
}

.balance-content {
  /* background-color: var(--tabColor); */
  /* margin-top: 0.5rem; */
  flex-grow: 1;
  text-align: center;
}

.balance-content thead th {
  border-bottom: 0px;
  box-shadow: 2px 2px 10px 0px #999999 inset;
  color: var(--black);
  padding: 1rem;
}

.balance-content {
  /* padding-bottom: 2rem;     */
  /* background-color: var(--tabColor); */
  /* margin-left: 0.5rem; */
}

.table-balance-container {
  display: flex;
  justify-content: space-between;
}

.balance-content table tbody {
  background-color: var(--tabColor);
  height: 180px;
  padding-bottom: 2rem;
}

.total-bets {
  color: var(--red);
}

.btn-bet-now,
.btn-track {
  border: none;
  border-radius: 0.5rem;
  font-weight: bold;
  padding: 0.5rem;
}

.btn-track {
  background-color: var(--lighterGrey);
  box-shadow: 2px 2px 10px 0px var(--lightGrey);
  color: var(--medGrey);
}

.btn-track:hover {
  background-color: var(--lightGrey);
}

.btn-bet-now {
  background-color: var(--orangeRed);
  box-shadow: 2px 2px 10px 0px var(--orangeRed);
  color: var(--white);
}

.btn-bet-now:hover {
  background: #fa3600;
  background-image: linear-gradient(to bottom, #fa3600, #f70000);
  text-decoration: none;
}

.cart-increment,
.cart-decrement {
  padding: 5px;
}

ul.multibetCounter {
  border-radius: 5px !important;
}


.mask-balance{
    content: 'sss';
}


/*--------------------------------------------------------------
# Track
--------------------------------------------------------------*/

.draw-and-multibet-container{
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    padding: 1rem;
    align-items: flex-start;
}
.draw-and-multibet-container .card{
  width: 100%;
}
#track-tab-pane .table-content{
    padding: 1rem;
    /* background-color: #f70000; */
}

#track-tab-pane ul#trackTab.nav-tabs{
  width: 100%;
  background-color: var(--lighterGrey);
}
.first-multi-draws{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.first-draw-container select {
    width: 200px;
    color: #f70000;
    padding: 0.5rem;
}

.btn-current{
  padding-top: 1px !important;
  padding-bottom: 1px !important;
}

.btn-current.active{
  /* background-color: #076696 !important; */
}

.tableFixHead {
  overflow-y: auto;
  height: 200px;
}

.tableFixHead table {
  border-collapse: collapse;
  width: 100%;
}

.tableFixHead th,
.tableFixHead td {
  padding: 8px 16px;
}

.tableFixHead thead {
  position: sticky;
  top: -1px;
  background: var(--lighterGrey);
}


/********** STYLING FOR SCROLLBAR IN TABLE **********************/
/*! Firefox */    
.tableFixHead{
  scrollbar-color: #128612 #004E00;
}

/*! Other Browser */
.tableFixHead {
  --scrollbarBG: #caffff;
  --thumbBG: #0392f1;
}
.tableFixHead::-webkit-scrollbar {
  width: 11px;
}
.tableFixHead {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
.tableFixHead::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
.tableFixHead::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

.tableFixHead ul {
  background-color: transparent;
  width: 100%;
}

td{
  padding-top: 5rem;
}